BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
AllowShortLambdasOnASingleLine: All
LambdaBodyIndentation: OuterScope
SortIncludes: Never
