# macOS
.DS_Store

# VSCode settings
.cache/
.vscode/

# CMake build directories
cmake_build/
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.cmake

# Android NDK
ndk_build/
obj/
libs/
*.so

# Compiler output
*.o
*.obj
*.exe
*.out
*.dll
*.dylib

# Logs
*.log