Package: com.fwdkitty.ios
Name: FWD_Kitty
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Test tweak for fwd assault
Maintainer: CyberCat
Author: CyberCat
Section: Tweaks
